---
title: Colors
description:
show_code: false
use_source: false
---

<h4>Grayscale</h4>
<div class="mpl-color-palette">
  <div class="mdl-card mdl-shadow--2dp" style="background-color: dark-grey;" >
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">white</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 100%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 98%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">white-bis</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 98%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp success" style="background-color: hsl(0, 0%, 96%)">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">white-ter</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 96%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 86%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">grey-lighter</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 86%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 71%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">grey-light</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 71%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 48%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">grey</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 48%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 29%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">grey-dark</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 29%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 21%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">grey-darker</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 21%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 14%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">black-ter</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 14%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 7%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">black-bis</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 7%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: hsl(0, 0%, 4%);">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">black</h2>
    </div>
    <div class="mdl-card__menu">hsl(0, 0%, 4%)</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #CDDC39;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Lime</h2>
    </div>
    <div class="mdl-card__menu">#CDDC39</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #FFEB3B;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Yellow</h2>
    </div>
    <div class="mdl-card__menu">#FFEB3B</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #FFC107;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Amber</h2>
    </div>
    <div class="mdl-card__menu">#FFC107</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #FF9800;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Orange</h2>
    </div>
    <div class="mdl-card__menu">#FF9800</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #FF5722;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Deep Orange</h2>
    </div>
    <div class="mdl-card__menu">#FF5722</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #795548;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Brown</h2>
    </div>
    <div class="mdl-card__menu">#795548</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #9E9E9E;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Grey</h2>
    </div>
    <div class="mdl-card__menu">#9E9E9E</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #607D8B;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Blue Grey</h2>
    </div>
    <div class="mdl-card__menu">#607D8B</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #000000;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Black</h2>
    </div>
    <div class="mdl-card__menu">#000000</div>
  </div>

  <div class="mdl-card mdl-shadow--2dp" style="background-color: #FFFFFF;">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">White</h2>
    </div>
    <div class="mdl-card__menu">#FFFFFF</div>
  </div>
</div>
