<table class="table is-bordered">
  <tbody>

    <tr>
      <td><code>image is-16x16</code></td>
      <td><figure class="image is-16x16"><img src="https://bulma.io/images/placeholders/16x16.png"></figure></td>
      <td>16x16px</td>
    </tr>

    <tr>
      <td><code>image is-24x24</code></td>
      <td><figure class="image is-24x24"><img src="https://bulma.io/images/placeholders/24x24.png"></figure></td>
      <td>24x24px</td>
    </tr>

    <tr>
      <td><code>image is-32x32</code></td>
      <td><figure class="image is-32x32"><img src="https://bulma.io/images/placeholders/32x32.png"></figure></td>
      <td>32x32px</td>
    </tr>

    <tr>
      <td><code>image is-48x48</code></td>
      <td><figure class="image is-48x48"><img src="https://bulma.io/images/placeholders/48x48.png"></figure></td>
      <td>48x48px</td>
    </tr>

    <tr>
      <td><code>image is-64x64</code></td>
      <td><figure class="image is-64x64"><img src="https://bulma.io/images/placeholders/64x64.png"></figure></td>
      <td>64x64px</td>
    </tr>

    <tr>
      <td><code>image is-96x96</code></td>
      <td><figure class="image is-96x96"><img src="https://bulma.io/images/placeholders/96x96.png"></figure></td>
      <td>96x96px</td>
    </tr>

    <tr>
      <td><code>image is-128x128</code></td>
      <td><figure class="image is-128x128"><img src="https://bulma.io/images/placeholders/128x128.png"></figure></td>
      <td>128x128px</td>
    </tr>

  </tbody>
</table>

<hr>

<table id="images" class="table is-bordered">
  <tbody>
    <tr>
      <td><code>image is-square</code></td>
      <td><figure class="image is-square"><img src="https://bulma.io/images/placeholders/480x480.png"></figure></td>
      <td>Square (or 1by1)</td>
    </tr>
    <tr>
      <td><code>image is-1by1</code></td>
      <td><figure class="image is-1by1"><img src="https://bulma.io/images/placeholders/480x480.png"></figure></td>
      <td>1 by 1</td>
    </tr>
    <tr>
      <td><code>image is-4by3</code></td>
      <td><figure class="image is-4by3"><img src="https://bulma.io/images/placeholders/640x480.png"></figure></td>
      <td>4 by 3</td>
    </tr>
    <tr>
      <td><code>image is-3by2</code></td>
      <td><figure class="image is-3by2"><img src="https://bulma.io/images/placeholders/480x320.png"></figure></td>
      <td>3 by 2</td>
    </tr>
    <tr>
      <td><code>image is-16by9</code></td>
      <td><figure class="image is-16by9"><img src="https://bulma.io/images/placeholders/640x360.png"></figure></td>
      <td>16 by 9</td>
    </tr>
    <tr>
      <td><code>image is-2by1</code></td>
      <td><figure class="image is-2by1"><img src="https://bulma.io/images/placeholders/640x320.png"></figure></td>
      <td>2 by 1</td>
    </tr>
  </tbody>
</table>
