---
title: Bulma Styles
description:
---
<div class="content notification">
  <div class="is-size-1">3rem - Duis mollis, est non commodo luctus porttitor ligula.</div>
  <div class="is-size-2">2.5rem - Duis mollis, est non commodo luctus porttitor ligula.</div>
  <div class="is-size-3">2rem - Duis mollis, est non commodo luctus porttitor ligula.</div>
  <div class="is-size-4">1.5rem - Duis mollis, est non commodo luctus porttitor ligula.</div>
  <div class="is-size-5">1rem - Duis mollis, est non commodo luctus porttitor ligula.</div>
  <div class="is-size-6">.75rem - Duis mollis, est non commodo luctus porttitor ligula.</div>
</div>
