---
title: My Spacing
description:
---
<div class="content notification">
<h1 class="vspace1">vspace1 - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h5>Est non commodo luctus porttitor ligula.</h5>
<hr>
<h1 class="vspace2">vspace2 - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h5>Est non commodo luctus porttitor ligula.</h5>
<hr>
<h1 class="vspace3">vspace3 - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h5>Est non commodo luctus porttitor ligula.</h5>
<hr>
<h1 class="vspace4">vspace4 - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h5>Est non commodo luctus porttitor ligula.</h5>
<hr>
<h1 class="vspace5">vspace5 - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h5>Est non commodo luctus porttitor ligula.</h5>
<hr>

</div>

<div class="content notification">
<p class="lheight1">lheight1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
<hr>
<p class="lheight2">lheight2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
<hr>
<p class="lheight3">lheight3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
<hr>
<p class="lheight4">lheight4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>

</div>

<div class="content notification">
<h1 class="spacing1 upper">Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h1 class="spacing2 upper">Duis mollis, est non commodo luctus porttitor ligula.</h1>

</div>
