---
title: My Styles
description: My header and paragraph styles.
---
<div class="content notification">
<h1>H1 / 44px - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h2>H2 / 36 px - Duis mollis, est non commodo luctus porttitor ligula.</h2>
<h3>H3 / 26px - Duis mollis, est non commodo luctus porttitor ligula.</h3>
<h4>H4 / 20px - Duis mollis, est non commodo luctus porttitor ligula.</h4>
<h5>H5 / 13px - Duis mollis, est non commodo luctus porttitor ligula.</h5>
<h6>H6 / 11px - Duis mollis, est non commodo luctus porttitor ligula.</h6>
<br>
<p>P / 16px - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
<hr>

<h3 class="light">Light - Duis mollis, est non commodo luctus porttitor ligula.</h3>
<h3 class="regular">Regular - Duis mollis, est non commodo luctus porttitor ligula.</h3>
<h3 class="bold">Bold - Duis mollis, est non commodo luctus porttitor ligula.</h3>
<h3 class="black">Black - Duis mollis, est non commodo luctus porttitor ligula.</h3>

</div>
