---
title: Styles
description: When you can't use the CSS classes you want, or when you just want to directly use HTML tags, use content as container. It can handle almost any HTML tag.
---
<div class="content notification">
<h1>H1 - Duis mollis, est non commodo luctus porttitor ligula.</h1>
<h2>H2 - Duis mollis, est non commodo luctus porttitor ligula.</h2>
<h3>H3 - Duis mollis, est non commodo luctus porttitor ligula.</h3>
<h4>H4 - Duis mollis, est non commodo luctus porttitor ligula.</h4>
<h5>H5 - Duis mollis, est non commodo luctus porttitor ligula.</h5>
<h6>H6 - Duis mollis, est non commodo luctus porttitor ligula.</h6>
<br>
<p>P - Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

</div>
