---
title: Basics
description: Each column will have an equal width, no matter the number of columns.
---

<div class="columns">
  <div class="column">
    <p class="notification is-info has-text-centered">First column</p>
  </div>
  <div class="column">
    <p class="notification is-info has-text-centered">Second column</p>
  </div>
  <div class="column">
    <p class="notification is-info has-text-centered">Third column</p>
  </div>
  <div class="column">
    <p class="notification is-info has-text-centered">Fourth column</p>
  </div>
</div>

<hr>

<div class="columns is-mobile is-centered">
  <div class="column is-half is-narrow">
    <p class="notification is-info">
      <code class="html">is-half</code><br>
      <code class="html">is-narrow</code>
      <code class="html">is-centered</code>
    </p>
  </div>
</div>
