---
title: Variable Gap
description: You can specify a custom column gap by appending one of 9 modifiers on the .columns container.
---


<div id="klmn" class="bd-klmn">

    <div class="bd-klmn-lead">
        <div class="columns is-variable bd-klmn-columns is-1">
            <div class="column is-3">
                <div class="notification is-info has-text-centered">
                    Side
                </div>
            </div>
            <div class="column is-9">
                <div class="notification is-info has-text-centered">
                    Main
                </div>
            </div>
        </div>

        <div class="columns is-variable bd-klmn-columns is-1">
            <div class="column is-4">
                <div class="notification is-info has-text-centered">
                    Three columns
                </div>
            </div>
            <div class="column is-4">
                <div class="notification is-info has-text-centered">
                    Three columns
                </div>
            </div>
            <div class="column is-4">
                <div class="notification is-info has-text-centered">
                    Three columns
                </div>
            </div>
        </div>

        <div class="columns is-variable bd-klmn-columns is-1">
            <div class="column">
                <div class="notification is-info has-text-centered">
                    1
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    2
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    3
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    4
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    5
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    6
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    7
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    8
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    9
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    10
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    11
                </div>
            </div>
            <div class="column">
                <div class="notification is-info has-text-centered">
                    12
                </div>
            </div>
        </div>
    </div>
</div>