---
title: Container
description: A simple container to center your content horizontally.
---
<br>
<div style="background-color:black;">
<br>
  <div class="container">
    <div class="notification">
      This container is <strong>centered</strong> on desktop.
    </div>
  </div>

  <br>

  <div class="container is-fluid">
    <div class="notification">
      This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any
      viewport size.
    </div>
  </div>

  <br>

  <div class="container is-widescreen">
    <div class="notification">
      This container is <strong>fullwidth</strong> <em>until</em> the <code>$widescreen</code> breakpoint.
    </div>
  </div>

  <br>

  <div class="container is-fullhd">
    <div class="notification">
      This container is <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint.
    </div>
  </div>
  <br>
</div>
<br>
