h1, h2, h3, h4, h5, h6 {
  letter-spacing:  0.03em;
  line-height: 1.3;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
}

p {
  font-size: 16px;
  letter-spacing:  0.02em;
}

// font-weight:


.light {
  font-weight: 300 !important;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

// vertical spacing:

.vspace1 {
  margin-bottom: 40px !important;
}
.vspace2 {
  margin-bottom: 24px !important;
}
.vspace3 {
  margin-bottom: 16px !important;
}
.vspace4 {
  margin-bottom: 8px !important;
}
.vspace5 {
  margin-bottom: 4px !important;
}



.lheight1 {
  line-height: 2.0 !important;
}
.lheight2 {
  line-height: 1.6 !important;
}
.lheight3 {
  line-height: 1.4 !important;
}
.lheight4 {
  line-height: 1.2 !important;
}

.spacing1 {
  letter-spacing: 0.08em !important;
}

.spacing2 {
  letter-spacing: 0.05em !important;
}

.upper {
  text-transform: uppercase;
}
